{% extends 'base1.html.twig' %}
{% block body %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">Connexion</div>
            <div class="panel-body">
                <form action="#" method="post" data-form="form_connexion">
                    <div class="alert alert-danger cacher" id="form_connexion">
                        <ul>
                        </ul>
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="email" data-champ="E-mail" autofocus="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Mot de passe" name="password" type="password" data-champ="Mot de passe" value="">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">Se souvenir de moi
                            </label>
                        </div>
                        <div class="text-left">
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}